/* src/App.css */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.task {
  background: #f4f4f4;
  padding: 10px;
  border: 1px #ccc dotted;
  margin-bottom: 10px;
}

.task.completed {
  text-decoration: line-through;
}

button {
  border: none;
  background: none;
  font-size: 20px;
}
